@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: pink;
}

.loginstudent{
    font-family: Jost;
   font-size: 60px;
font-weight: 800;
line-height: 85px;
letter-spacing: 0em;
text-align: center;
}

.loginsubheading{
    font-family: Poppins;
    font-size: 24px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: center;
    color: #333333;    
}

.formlayout{
    width: 497px;
height: 746px;
top: 446px;
left: 722.5px;
border-radius: 15px;
background: #FFFFFF;
box-shadow: 0px 0px 52px 6px #33CCCC1F;
}

.formlayoutinsideheading{
    font-family: Poppins;
font-size: 27px;
font-weight: 800;
line-height: 26px;
letter-spacing: 0em;
text-align: center;
color: #333333;
}

.signupnow{
    font-family: Poppins;
font-size: 15px;
font-weight: 600;
line-height: 26px;
letter-spacing: 0em;
text-align: center;
color: #333333;
}

.inputtext{
    width: 365px;
height: 46.5px;
padding: 11px, 14px, 12.5px, 14px;
border-radius: 7px;
border: 2px;
background: #7BEFEC29;
border: 2px solid #33CCCC;
margin-left: 55px;
font-family: Poppins;
font-size: 15px;
font-weight: 400;
line-height: 23px;
letter-spacing: 0em;
text-align: left;
color: #757575;
padding-left: 10px;

}

.checkcondition{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.checkbox{
    width: 13px;
height: 13px;
border-radius: 2.5px;
background: #FFFFFF;
border: 1px solid #767676;
}

.termsservices{
margin-left: 15px;
font-family: Poppins;
font-size: 15px;
font-weight: 400;
line-height: 1px;
letter-spacing: 0em;

}

.policy{
    text-align: center;
}

a{
    text-decoration: none;
    color: #33CCCC;

}

.button{
    width: 255.61px;
height: 47px;
border-radius: 6px;
background: #237195;
box-shadow: 0px 0px 41px -11px #F6983961;
border: none;

}

.buttondiv{
    display: flex;
    justify-content: center;
    align-items: center;
}